:root {
  --color-black: rgb(66 66 66 / 1);
  --color-dark-grey: #03191e;
  --color-warm-white: rgba(253, 253, 255, 1);
  --color-purple: #439775;
  --color-yellow: #fac05e;
  --color-light-grey: #bac1b8;
  --color-warm-blue: #58a4b0;
  --color-green: #0c7c59;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right h2 {
  margin-bottom: 15px;
}

.btn {
  background-color: var(--color-yellow);
  padding: 8px 15px;
  border-radius: 8px;
  color: var(--color-black);
  text-decoration: none;
  transition: color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  text-transform: uppercase;
}
.btn:hover {
  background-color: #58a4b0;
  color: var(--color-warm-white);
}

body {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  color: var(--color-warm-white);
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.025em;
  scroll-behavior: smooth;
  background-color: var(--color-dark-grey);
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/pest-control.jpg");
  height: 27vh;
  transition: height 2s ease;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
header img.logo {
  width: 276px;
  height: auto;
  position: absolute;
  z-index: 1;
  left: calc(50% - 138px);
  top: 0;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.logo-wrapper {
  max-width: 450px;
  height: 225px;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.logo-wrapper::after {
  content: "";
  position: absolute;
  width: 130px;
  height: 45px;
  bottom: 0;
  left: calc(50% - 65px);
  border-radius: 60px 60px 0 0;
  box-shadow: 45px 0px 0 245px var(--color-warm-white);
}
.main-content {
  max-width: 1300px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.left-wrapper {
  flex-shrink: 0;
  height: fit-content;
  text-align: center;
}
.work {
  padding: 0 10px 0 10px;
  flex-shrink: 0;
  height: fit-content;
  text-align: center;
  position: relative;
  color: var(--color-warm-white);
  background-color: var(--color-purple);
  padding-bottom: 130px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.work::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: -83px;
  left: calc(50% - 65px);
  width: 130px;
  height: 45px;
  border-radius: 60px 60px 0 0;
  background-color: var(--color-purple);
}
.work::after {
  background-color: var(--color-purple);
  position: absolute;
  top: -39px;
  left: 0;
  content: "";
  width: 100%;
  height: 40px;
}

.contact {
  margin-top: -30px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: var(--color-warm-white);
  color: var(--color-black);
  position: relative;
  padding-bottom: 25px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.contact::after {
  content: "";
  border-top-left-radius: 60% 100%;
  border-top-right-radius: 60% 100%;
  position: absolute;
  top: -34%;
  left: 0;
  width: 100%;
  background: white;
  height: 35%;
  box-shadow: 0px 11px 11px -4px rgba(0, 0, 0, 0.25) inset;
}

section:last-of-type {
  padding-bottom: 50px;
}

.contact-inner {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-inner a {
  color: var(--color-yellow);
}

.contact-inner i {
  color: var(--color-yellow);
  margin-right: 8px;
}
.call-to-action {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.call-to-action i {
  margin-right: 8px;
  color: var(--color-black);
}
.call-to-action a {
  color: var(--color-black);
}

.what-i-do {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--color-light-grey);
  padding: 15px;
}
.what-i-do .pricing {
  background-color: var(--color-warm-blue);
  padding: 15px;
  border-radius: 8px;
  color: var(--color-warm-white);
}

.what-i-do h2 {
  color: var(--color-green);
}

.what-i-do {
  color: var(--color-black);
}

.right {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 25px;
}

.sidenote {
  font-size: 16px;
  display: block;
}

@media (min-width: 768px) {
  .logo-wrapper {
    margin-left: 0;
  }
  .main-content {
    flex-direction: row;
  }
  .left-wrapper {
    width: 450px;
  }
}
