:root {
  --color-black: rgb(66 66 66 / 1);
  --color-dark-grey: #03191e;
  --color-warm-white: rgba(253, 253, 255, 1);
  --color-purple: #439775;
  --color-yellow: #fac05e;
  --color-light-grey: #bac1b8;
  --color-warm-blue: #58a4b0;
  --color-green: #0c7c59;
  --color-warm-red: #86323d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

li {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 20px;
}
.right-title {
  display: none;
}
.work-title {
  text-align: left;
}
.slogan {
  color: var(--color-yellow);
  font-size: 30px;
}

.btn {
  background-color: var(--color-yellow);
  padding: 8px 15px;
  border-radius: 8px;
  color: var(--color-black);
  text-decoration: none;
  transition: color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  text-transform: uppercase;
}
.btn:hover {
  background-color: #58a4b0;
  color: var(--color-warm-white);
}

body {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  color: var(--color-warm-white);
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.025em;
  scroll-behavior: smooth;
  background-color: var(--color-dark-grey);
  font-family: Geneva, Verdana, Tahoma, sans-serif;
  font-weight: normal;
  font-style: normal;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/davy_mathys_als_wespenverdelger.jpg");
  height: 166px;
  transition: height 2s ease;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

strong {
  color: var(--color-yellow);
}
h2 {
  line-height: 38px;
}

.container {
  max-width: 1300px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

.logo-wrapper {
  width: 100%;
  height: 130px;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.logo-wrapper::after {
  content: "";
  position: absolute;
  width: 130px;
  height: 45px;
  bottom: 0;
  left: calc(50% - 65px);
  border-radius: 60px 60px 0 0;
  box-shadow: 45px 0px 0 1000px var(--color-purple);
}

.align-logo-letter {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
}

header img.logo {
  width: 130px;
  height: auto;
}

.main-content {
  max-width: 1300px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.left-wrapper {
  flex-shrink: 0;
  text-align: center;
}
.work {
  padding: 2px 15px 0 15px;
  flex-shrink: 0;
  position: relative;
  color: var(--color-warm-white);
  background-color: var(--color-purple);
  padding-bottom: 130px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.work::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: -83px;
  left: calc(50% - 65px);
  width: 130px;
  height: 45px;
  border-radius: 60px 60px 0 0;
  background-color: var(--color-purple);
}
.work::after {
  background-color: var(--color-purple);
  position: absolute;
  top: -39px;
  left: 0;
  content: "";
  width: 100%;
  height: 40px;
}
.work h2 {
  text-transform: uppercase;
}
.work p {
  color: var(--color-dark-grey);
}

.contact {
  margin-top: -40px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: var(--color-warm-white);
  color: var(--color-black);
  position: relative;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.contact::after {
  content: "";
  border-top-left-radius: 60% 100%;
  border-top-right-radius: 60% 100%;
  position: absolute;
  top: -19%;
  left: 0;
  width: 100%;
  background: white;
  height: 20%;
  box-shadow: 0px 11px 11px -4px rgba(0, 0, 0, 0.25) inset;
}

section:last-of-type {
  padding-bottom: 50px;
}

.contact-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-inner a {
  color: var(--color-yellow);
}

.contact-inner i {
  color: var(--color-yellow);
  margin-right: 8px;
}
.call-to-action {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  justify-content: center;
  text-align: center;
}

.call-to-action i {
  margin-right: 8px;
  color: var(--color-black);
}
.call-to-action a {
  color: var(--color-black);
}

.what-i-do {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--color-light-grey);
  padding: 20px;
}
.what-i-do .pricing {
  background-color: var(--color-warm-blue);
  padding: 15px;
  border-radius: 8px;
  color: var(--color-warm-white);
}

.what-i-do h2 {
  color: var(--color-green);
  margin-bottom: 0;
}

.what-i-do {
  color: var(--color-black);
}

.right {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.sidenote {
  font-size: 16px;
  display: block;
}
footer {
  background-color: var(--color-warm-white);
  text-align: center;
  padding: 25px 0;
  color: var(--color-green);
}
.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.socials .follow-me {
  color: var(--color-black);
}
.socials a {
  text-decoration: none;
  color: var(--color-black);
  display: block;
  transition: color 0.2s ease-in;
}
.socials a.social-instagram:hover {
  color: #dd2a72;
}

.socials a.social-facebook:hover {
  color: #0077b5;
}

@media (min-width: 900px) {
  .logo-wrapper {
    margin-left: 0;
    max-width: 400px;
    height: 225px;
  }
  header {
    height: 263px;
  }

  header img.logo {
    width: 276px;
    height: auto;
  }

  .main-content {
    flex-direction: row;
  }
  .left-wrapper {
    width: 400px;
  }
  .right {
    padding-top: 40px;
  }
  h1 {
    font-size: 50px;
    line-height: 60px;
  }
  .call-to-action {
    flex-direction: row;
  }
  .right .call-to-action {
    justify-content: left;
  }
  .right-title {
    display: block;
  }
  .work-title {
    display: none;
  }
  .socials {
    flex-direction: row;
  }

  footer {
    margin-top: 50px;
  }
  .socials .follow-me {
    display: block;
  }
}
